section {
  position: fixed; 
  z-index: 1;
  padding-top: 2%;
  padding-bottom: 2%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

img {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.ng-lazyloaded {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #f1f1f1;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  img {
    width: 100%;
  }
}