<section>
  <aside #filters>
    <span class="close" (click)="closeFilters()"></span>
    <div *ngFor="let category of categories" >
      <span [id]="category.code" (click)="selectCategory(category)" class="category_item">{{category.description}}
        <figure [style.border-color]="category.code" class="circle"></figure>
      </span>
    </div>
  </aside>
  <figure #map>
    <button (click)="showFilters()">Filters</button>
    <div class="map_container">
      <agm-map [latitude]="markers[0].lattitude" [longitude]="markers[0].longitude" [styles]="mapStyles" [zoom]=5>
        <agm-marker *ngFor="let marker of markers" [latitude]="marker.lattitude" [longitude]="marker.longitude" [iconUrl]="marker.thumbnailSrc"></agm-marker>
      </agm-map>
    </div>
  </figure>
</section>  