<section>
  <aside #filters class="filters">
    <span class="close" (click)="closeFilters()"></span>
    <div *ngFor="let category of categories" >
      <span [id]="category.code" (click)="selectCategory(category)" class="category_item">{{category.description}}
        <figure [style.border-color]="category.code" class="circle"></figure>
      </span>
    </div>
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerFrom" placeholder="Date from">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerTo" placeholder="Date to">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>
    </div>
  </aside>
  <figure #map>
    <button (click)="showFilters()">Filters</button>
    <div class="map_container">
      <agm-map [latitude]="markers[0].lattitude" [longitude]="markers[0].longitude" [styles]="mapStyles" [zoom]=5 (mapReady)="mapReady()">
        <ng-container *ngFor="let marker of markers">
          <agm-overlay (markerClick)="showAlbum($event, marker.albumId)" [latitude]="marker.lattitude" [longitude]="marker.longitude">
            <img class="circle marker" [ngClass]="marker.isActive ? 'active' : ''" [style.border-color]="marker.category.code" [src]="marker.thumbnailSrc">
          </agm-overlay>
        </ng-container>
      </agm-map>
    </div>
  </figure>
</section>  