agm-map {
  height: 700px;
  width: 100%;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  padding: 0 20% 0 20%;
}
:host { 
  grid-area: map;
  position: relative;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
section {
  height: 100vh;
}