agm-map {
  height: 700px;
  width: 100%;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  padding: 0 20% 0 20%;

}
:host { 
  grid-area: map;
  position: relative;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
section {
  height: 100vh;
}


@media screen and (max-width: 1420px) {
  agm-map {
    padding: 0 10% 0 10%;
  }
}

@media screen and (max-width: 800px) {
  agm-map {
    padding: 0 5% 0 5%;
  }
}

@media screen and (min-width: 1750px) {
  agm-map {
    padding: 0 5% 0 5% ;
  }
}